{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Top Reddit{% endblock %}

{% block head %}
{{ super() }}
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
<meta http-equiv="Pragma" content="no-cache"/>
<meta http-equiv="Expires" content="0"/>
{% endblock %}

{% block page_content %}
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
<meta http-equiv="Pragma" content="no-cache"/>
<meta http-equiv="Expires" content="0"/>
<img src="{{url_for('static', filename='graph.png')}}" />
{{ wtf.quick_form(form) }}
{% endblock %}
