<!--
The index page is, as of now, the only page and displays the bar graph and and a short
form to allow customization of queries.
-->

{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Top Reddit{% endblock %}

{% block head %}
{{ super() }}
<style>
    .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
</style>
{% endblock %}

{% block page_content %}
<h1 class="display-3">Top Reddit</h1>
<p>Top Reddit is a little web-applet that queries data from Reddit and creates bar-graphs
displaying information about the top sub-reddits from /r/all or /r/popular. The form below allows
for query customization. Default parameters are the first 100 posts within the last 24hrs from /r/all.
Larger requests require more time.
Created by Samuel Fu and Robert Hou.</p>

<img src="{{url_for('static', filename='graph.png')}}" class="center" />
{{ wtf.quick_form(form) }}
{% endblock %}
